.boton-contenedor {
    height: 83px;
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 38px;
    background-color: #514B8C;
    color: #F2EBE9;
    border-radius: 25px;
    border: 2px solid #F2EBE9;
    margin: 4px;
    cursor: pointer;
    user-select: none;
  }
  
  .boton-contenedor:hover {
    background-color: #FF93D6;
  }
  
  .operador {
    background-color: #6F212D;
  }
  
  .operador:hover {
    background-color: #7C5CA3;
  }